PORT=3000

# Sandbox/Test Stable:
SHOPEE_HOST="https://partner.test-stable.shopeemobile.com"

# Production:
# SHOPEE_HOST="https://partner.shopeemobile.com"

SHOPEE_PARTNER_ID="ISI_PARTNER_ID"
SHOPEE_PARTNER_KEY="ISI_PARTNER_KEY"
SHOPEE_REDIRECT_URL="http://localhost:3000/api/shopee/auth/callback"

SHOPEE_SHOP_ID="ISI_SHOP_ID"
SHOPEE_ACCESS_TOKEN="ISI_ACCESS_TOKEN"
SHOPEE_REFRESH_TOKEN="ISI_REFRESH_TOKEN"
